<!--<table class='table'>-->
<label>
  <tr>
    <%= image_tag customer.get_profile_image, size: '100x100'%>
  </tr>
<label>
<div class="row">
  <div class="user_info">
    name :<%= customer.pen_name %>
  </div>
</div>

<div class="row">
  introduction :<%= customer.introduction %>
</div>

<div class="row">
follows: <%= link_to customer.followings.count, customer_followings_path(customer) %>
</div>

<div class="row">
  followers: <%= link_to customer.followers.count, customer_followers_path(customer) %>
</div>

<div class="row">
    <%= link_to "お気に入り記事", favorites_customer_path(customer), class: "btn"%><br>
      Userの公開設定<br>
      <% if customer.is_published? %>
        公開
      <% else %>
        非公開
      <% end %>
</div>

<!--</table>-->

<div class='row'>
    <% if current_customer != customer && customer.pen_name != "guestuser"%>
        <td><%= render "public/relationships/btn", customer: customer %></td>
    <% else %>
        <%= link_to edit_customer_path, class: "btn btn-outline-secondary btn-lg mx-auto" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
    <% end %>
</div>