<!--いいね一覧-->
<div class=favorite_background_color>
  <section class="py-5" id="course">

    <div class='container text-center py-3'>
      <div class='row pb-3'>
        <div class="col md-4">
	         <h1>
		        <span class="favorites">favorites</span>
	        </h1>
	        <p><%= @favorite_post_customer.pen_name %>さんがお気に入りした日記はこちらです。<br>
	        まだお気に入りしていない場合は表示されません。<br>
	        ほかのUserの投稿を「いいね」してみましょう！<br>
	        記事から詳細ページに移動できます。コメントをしてみましょう！</p>
        </div>
      </div>

      <div class="row g-4">
        <!--いいねした記事-->
      <div class="d-flex col-mx-md-4">
        <!--ニューモニズム-->
        <% @favorite_diaries.each do |diary|%>

          <%= link_to diary_path(diary) do%>
              <div class="group favorite_border">
                <div class="box">
                  <div class="favorite_text_title">
                    <div class="favorite_text_title_link">
                    <%= diary.title %>
                    </div>
                  </div>
                    <div class="favorite_text_body">
                      <div class="favorite_text_body_link">
                      <%= diary.body %>
                      </div>
                    </div>
                  <div class="favorite_user_name">
                    <div class="favorite_write_user_link">
                      <%= "投稿User：#{diary.customer.pen_name}" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>