<div class="diary_show_background">
  <div class='container px-5 px-sm-0'>

    <div class='row'>

      <div class='col-md-3'>
        <% if @diary.errors.any? %>
            <%= @diary.errors.count %>件のエラーが発生しました
          <ul>
            <% @diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= flash[:notice] if flash[:notice] %>

        <div class="user_info_back_base">
          <div class="segment">
            <h3>User info</h3>
          </div>
          <%= render 'info', customer: @customer %>
        </div>

        <div class="diary_info_back_base">
          <div class="segment">
            <h3>diary form</h3>
          </div>
          <%= render 'public/diarys/new_form' %>
        </div>
      </div>

      <div class='col-md-8 offset-md-1'>
        	<h2>diary</h2>
        	<!--ログインユーザーが投稿した投稿のみ表示-->
          <%= render 'public/diarys/index', diarys: @diarys %>
          <!--<#%= paginate @diarys %>-->


          <!--投稿したときにつけたタグが表示される-->
          <td>
            <% @diary.sentiments.each do |sentiment| %>
              <%= sentiment.name %>
            <% end %>
          </td>


          <!--API感情スコアをグラフとして表示する-->
          <div class="chart_area">
            <canvas id="myChart"></canvas>
          </div>
          <script>
            var diaryData = <%= raw @diary_data.to_json %>;
          </script>
            <%= javascript_pack_tag 'chart' %>
      </div>
    </div>
  </div>
</div>
