<div class="container">
  <div class="row">
    <div class="col-sm-6center-block">

      <div class="user_info_back_base_admin">
        <%= form_with model: @customer, url: admin_customer_path, metod: :patch, local: true do |f| %>
          <div style="text-align: center;">
            <h2><%= @customer.full_name %>さんの<br>会員情報編集</h2>
            <div class="row">
              <div class="user_info">
              会員ID: <%= @customer.id %>
              </div>
            </div>
          </div>


          <div class="row">
              <div class="user_info_admin">
                <div style="text-align: center;">
                  氏名<br>
                  <% f.label :last_name %>
                  <%= f.text_field :last_name, placeholder: @customer.last_name %><br>
                  <% f.label :first_name %>
                  <%= f.text_field :first_name, placeholder: @customer.first_name %>
                </div>
              </div>
          </div>


          <div class="row">
            <div class="user_info_admin">
              フリガナ:<% f.label :last_name_kana %>
                <%= f.text_field :last_name_kana, placeholder: @customer.last_name_kana %>
                <% f.label :first_name_kana %>
                <%= f.text_field :first_name_kana, placeholder: @customer.first_name_kana %>
            </div>
          </div>

          <div class="row">
            <div class="user_info_admin">
              メールアドレス:
              <% f.label :email %>
              <%= f.email_field :email, placeholder: @customer.email %>
            </div>
          </div>

          <div class="row">
            <div class="user_info">
              会員ステータス:
          <!--会員の退会、有効を選択するラジオボタン-->
          　<%= f.radio_button :is_deleted, Customer.is_deleteds.key(false) %>
            <%= f.label :is_deleted_exist, Customer.is_deleteds_i18n[:exist] %>
            <%= f.radio_button :is_deleted, Customer.is_deleteds.key(true) %>
            <%= f.label :is_deleted_withdraw, Customer.is_deleteds_i18n[:withdraw] %>
            </div>
          </div>

          <div class="row">
            <div class="user_info">
              <div style="text-align: center;">
                <%= f.submit '変更を保存', class: "btn btn-sm btn-success" %>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>