<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @diarys.each do |diary| %>
      <tr>
        <td><%= link_to(diary.customer) do %>
          <%= image_tag diary.customer.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to diary.title, diary %></td>
        <td><%= diary.body %></td>
        <td>コメント数: <#%= @diary.diary_comments.count %></td>
        <td id= "favorite_buttons_<#%= diary.id %>">
          <%= render "public/favorites/btn", diary: diary %></td>
      </tr>
    <% end %>
  </tbody>
</table>