<div class='container'>
  <div class='row'>

    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/customers/info', customer: @diary.customer %>
      <h2 class="mt-3">diary</h2>
      <%= form_with model: @diary, url: diarys_path, method: :post, local: true do |f| %>
      <%= render 'form', diary: Diary.new %>
      <% end %>
    </div>


    <div class='col-md-8 offset-md-1'>
  		<h2>diary detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@diary.customer) do %>
            <%= image_tag @diary.customer.get_profile_image, size:"100x100" %><br>
            <%= @diary.customer.pen_name %>
            <% end %>
          </td>

          <td><%= link_to @diary.title, @diary %></td>
          <td><%= @diary.body %></td>
            <!--投稿の公開・非公開の状態が表示される-->
            <td><%= @diary.is_draft_i18n %></td>

            <!--投稿したときにつけたタグが表示される-->
          <td>
            <% @diary.sentiments.each do |sentiment| %>
              <%= sentiment.name %>
            <% end %>
          </td>

          <td class=<%= "favorite-" + @diary.id.to_s %> >
            <%= render "public/favorites/btn", diary: @diary %>
          </td>

          <td class="diary-comments-counter">
            <%= render "public/comments/counter", diary: @diary %>
          </td>

          <% if @diary.customer == current_customer %>
            <td><%= link_to 'Edit', edit_diary_path(@diary), class: "btn btn-sm btn-success edit_diary_#{@diary.id}" %></td>
            <td><%= link_to 'Destroy', @diary, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_diary_#{@diary.id}"%></td>
          <% end %>
        </tr>
        <span class="sentiment-score">本文の感情分析スコア<%= @diary.score %></span>
      </table>

        <div class="diary-comments-index">
          <%= render "public/comments/index", diary: @diary %>
        </div>
        <% unless @current_customer && @current_customer == @diary.customer %>
          <!-- ログインしていてかつ表示する投稿がログインユーザーの投稿の場合には投稿フォームを表示させない -->
          <%= render "public/comments/form", diary: @diary, diary_comment: @diary_comment %>
        <% end %>
  </div>
</div>