<header>
  <!--ヘッダーの色の指定-->
  <nav class="navbar navbar-expand-lg navbar-light", style="
              background: -webkit-linear-gradient(-101deg, rgb(206, 71, 71), rgb(211, 216, 201));
              background: linear-gradient(-101deg, rgb(206, 71, 71), rgb(211, 216, 201));">

    <div class="container-fluid">
      <!--<div class="row w-100">-->
      <!--    <div class="col-3">-->
            <!--ここにロゴが入ります-->
          <%= link_to image_tag("top-logo.png", class: "top_hedder_logo"), root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          </div>
          <div class="col-9">
          <div class="row w-100 justify-content-end">

            <!--ドロップダウンの記述-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">

              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <!--Customer ログイン後header-->
                  <span class="navbar-text text-right mr-3">ようこそ、<%= current_customer.full_name %>さん</span>
                  <li><%= link_to customer_path(current_customer),data: {"turbolinks": false}, class: 'nav-link text-right' do%>
                  <i class="fa-solid fa-house-flag"></i>mypage
                  <% end %>
                  </li>
                  <li><%= link_to diarys_path, class: 'nav-link text-right' do%>
                  <i class="fa-solid fa-book-open-reader"></i>diarys
                  <% end %>
                  </li>
                   <li><%= link_to customers_path, class: 'nav-link text-right' do%>
                   <i class="fa-solid fa-users"></i> users
                   <% end %>
                   </li>
                  <li><%= button_to destroy_customer_session_path, class: 'nav-link text-right', method: :delete do%>
                  <i class="fa-solid fa-right-from-bracket"></i>logout
                  <% end %>
                  </li>
                <% elsif admin_signed_in? %>
                  <!--Admin ログイン後header-->
                  <li><%= link_to admin_path, class: 'nav-link text-right' do%>
                  <i class="fa-solid fa-users"></i> users
                  <% end %>
                  </li>
                  <li><%= link_to "ログアウト",   destroy_admin_session_path,      class: ' nav-link text-right', method: :delete do%>
                  <i class="fa-solid fa-right-from-bracket"></i>logout
                  <% end %>
                  </li>
                <% else %>
                  <!--共通ログイン前 header-->
                  <li><%= link_to about_path, class: 'nav-link text-right' do %>
                        <i class="fa-solid fa-house-flag"></i> about
                      <% end %>
                  </li>
                  <li><%= link_to diarys_path, class: 'nav-link text-right' do%>
                      <i class="fa-solid fa-book-open-reader"></i> 投稿一覧
                      <% end %>
                  </li>
                  <li><%= link_to new_customer_registration_path, class: 'nav-link text-right' do%>
                      <i class="fa-solid fa-circle-plus"></i>新規登録
                      <% end %>
                  </li>
                  <li><%= link_to new_customer_session_path,       class: 'nav-link text-right' do%>
                        <i class="fa-solid fa-right-to-bracket"></i> ログイン
                      <% end %>
                  </li>
                  <li><%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-danger btn-sm btn-block mb-3 sign_in", method: :post %></li>
                <% end %>
                <div class="search_form serch_inner">
                  <%= render 'public/searchs/form' %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>